# Generate/store these securely on your hosting provider.
VAPID_PUBLIC_KEY=BE4da7kTyDLwZUwufhUbqbnACk4RgubWq4xB3M3BDZ3mlrUh0VpYXGLY385rNskLZMiukl1shUWtBBFBQDf2tA0
VAPID_PRIVATE_KEY=REPLACE_WITH_PRIVATE_VAPID_KEY
VAPID_SUBJECT=mailto:admin@example.com
ALLOWED_ORIGIN=https://imadtbn.github.io
PORT=3000
